.gamearaen {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10% 20% 10% 20%;
}

.chessboard {
    margin-top: 10%;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
    color: #fff;
}